<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.product.IProductTermsDao">
	
	
	<select id="detail" resultType="com.example.bnk.dto.product.ProductTermsDto">
	SELECT t.*
	FROM TB_PRODUCT_TERMS t
	JOIN TB_APPROVED_SUGGESTION d 
	ON d.terms_no = t.terms_no
	WHERE d.suggestion_no = #{suggestion_no}
	
	</select>
	
	
	<select id="selectTermsPrd" resultType="com.example.bnk.dto.product.ProductTermsDto">
		SELECT * FROM TB_PRODUCT_TERMS WHERE terms_no = #{terms_no}
	</select>
	
	
	
</mapper>