<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.product.IProductSuggestionDao">

	<!-- 상품 1차 제안서 출력에 사용 -->
	<select id="showPrdSugt" resultType="com.example.bnk.dto.product.ProductSuggestionDto">
		SELECT * FROM TB_PRODUCTS_SUGGESTION ORDER BY suggested_at DESC
	</select>
	
	<!-- 제안서 작성 페이지 -->
	<insert id="writeSuggestion">
		INSERT INTO TB_PRODUCTS_SUGGESTION
			(employee_no, manager_employee_no, product_name, suggestion_content,
			proposed_min_interest_rate, proposed_max_interest_rate)
		VALUES (#{dto.employee_no},#{dto.manager_employee_no},
				#{dto.product_name},#{dto.suggestion_content},
				#{dto.proposed_min_interest_rate},
				#{dto.proposed_max_interest_rate})
	</insert>
	
	<!-- 나에게 온 제안서 조회 -->
	<select id="mySuggestionList" resultType="com.example.bnk.dto.product.suggestion.SuggestionListDto">
    	SELECT 
        	s.suggestion_no,
        	s.employee_no,
        	e.employee_name,        <!-- 작성자 이름 -->
        	e.job_title,            <!-- 작성자 직급 -->
        	s.product_name,
        	s.suggestion_content,
        	s.proposed_min_interest_rate,
        	s.proposed_max_interest_rate,
        	s.approval_status,
        	s.suggested_at,
        	s.processed_at
    	FROM TB_PRODUCTS_SUGGESTION s
    	JOIN TB_employee e 
    	ON s.employee_no = e.employee_no
    	WHERE s.manager_employee_no = #{manager_employee_no}
   		ORDER BY s.suggested_at DESC
	</select>
	<!-- 제안서 상세 보기 -->
	<select id="suggestionReview" resultType="com.example.bnk.dto.product.suggestion.SuggestionListDto">
	    SELECT
			s.suggestion_no,
        	s.employee_no,
        	e.employee_name,
        	e.job_title,
        	e.dept_no,
        	s.manager_employee_no,
        	m.employee_name     AS manager_name,   
        	s.product_name,
        	s.suggestion_content,
        	s.proposed_min_interest_rate,
        	s.proposed_max_interest_rate,
        	s.approval_status,
        	s.reject_reason,
        	s.suggested_at,
        	s.processed_at
    	FROM TB_PRODUCTS_SUGGESTION s
    	JOIN TB_employee e                         
    	ON s.employee_no = e.employee_no
    	JOIN TB_employee m                   
    	ON s.manager_employee_no = m.employee_no
    	WHERE s.suggestion_no = #{suggestion_no}
	</select>
	
	<!-- 제안서 승인 -->
	<update id="approveSuggestion">
    	UPDATE TB_PRODUCTS_SUGGESTION
    	SET 
        	approval_status = 'APPROVED',
        	processed_at = SYSDATE
    	
    	WHERE suggestion_no = #{suggestion_no}
	</update>
	<!-- 상품 승인테이블 인서트 -->
	<insert id="insertApprovedProduct">
		INSERT INTO TB_APPROVED_SUGGESTION
        	(suggestion_no, rate_no, terms_no, description_no, condition_no)
   		VALUES (#{suggestion_no}, null, null, null, null)
	</insert>
	
	<!-- 제안서 거부 -->	
	<update id="rejectSuggestion">
    	UPDATE TB_PRODUCTS_SUGGESTION
   		SET 
        	approval_status = 'REJECTED',
        	reject_reason = #{reject_reason},
        	processed_at = SYSDATE
    	
    	WHERE suggestion_no = #{suggestion_no}
	</update>
	
	
	
	<!-- 승인 상품 테이블 조회?? -->
	
	
	
	
	
	
</mapper>