<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.product.IProductDao">
	<select id="showProduct" resultType="com.example.bnk.dto.product.ProductDto">
		SELECT * FROM TB_PRODUCT
	</select>
	
	<select id="showPrdToDeposit" resultType="com.example.bnk.dto.product.ProductDto">
		SELECT * FROM TB_PRODUCT WHERE product_type = deposit
	</select>
	
	<select id="showPrdToSavings" resultType="com.example.bnk.dto.product.ProductDto">
		SELECT * FROM TB_PRODUCT WHERE product_type = savings
	</select>
	
	<select id="showProductDetails" resultType="com.example.bnk.dto.product.ProductDto">
		SELECT * FROM TB_PRODUCT WHERE product_no = #{product_no}
	</select>
	
	<update id="updateProductStatus" parameterType="com.example.bnk.dto.product.ProductDto">
		UPDATE TB_PRODUCT
		SET product_status = #{product_status}, updated_at = SYSDATE
		WHERE product_no = #{product_no}
	</update>
</mapper>