<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.community.ICommunityBoardDao">
	<!-- 최신 순 -->
<!--     <select id="selectAllPostsDESC" resultType="com.example.bnk.dto.community.CommunityBoard">
        SELECT *
        FROM tb_community_board
        ORDER BY create_at DESC
    </select> -->
    
    <!-- 오래된 순 -->
<!--    	<select id="selectAllPostsASC" resultType="com.example.bnk.dto.community.CommunityBoard">
        SELECT *
        FROM tb_community_board
        ORDER BY create_at ASC
    </select> -->
    
    <!-- 좋아요 순 -->
<!--     <select id="selectLikeAllPosts" resultType="com.example.bnk.dto.community.CommunityBoard">
        SELECT *
        FROM tb_community_board
        ORDER BY like_count DESC
    </select> -->
    
    
<!--     <select id="searchPosts" resultType="com.example.bnk.dto.community.CommunityBoard">
	    SELECT 
	        board.board_no, 
	       	account.nickname, 
	        board_title, 
	        board_content, 
	        create_at
	    FROM tb_community_board board
	    INNER JOIN tb_community_account account 
            ON board.community_account_no = account.community_account_no
	    WHERE board_title LIKE '%' || #{keyword} || '%'
	       OR account.nickname LIKE '%' || #{keyword} || '%'
	    ORDER BY create_at DESC
	</select> -->

	<!-- 댓글 작성하기 -->
<!-- 	<insert id="insertPost" parameterType="com.example.bnk.dto.community.CommunityBoard">
	    INSERT INTO tb_test_comunity_cherta 
	    	(test_no, test_name, test_title, test_content, test_time)
		VALUES 
			(seq_test_comunity_cherta.NEXTVAL, #{test_name}, #{test_title}, #{test_content}, SYSDATE)
	</insert> -->
	
	<!-- 게시글 좋아요 1 증가 -->
<!-- 	<update id="updatePostLike">
	    UPDATE tb_test_comunity_cherta 
	    SET test_like = NVL(test_like, 0) + 1 
	    WHERE test_no = #{test_no}
	</update> -->
	
	<!-- 현재 게시글의 좋아요 수만 따로 가져오기 -->
<!-- 	<select id="getPostLikeCount" resultType="int">
	    SELECT test_like FROM tb_test_comunity_cherta WHERE test_no = #{test_no}
	</select> -->
	
</mapper>