<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.inquiry.IFaqDao">
	
	<select id="getFAQ" resultType="com.example.bnk.dto.inquiry.FaqDto">
		SELECT * FROM TB_FAQ
	</select>
	
	<insert id="">
	FAQ_NO	NUMBER(10,0)	No	"BNKDB"."ISEQ$$_78467".nextval
FAQ_CATEGORY	VARCHAR2(20 BYTE)	No	
FAQ_QUESTION	VARCHAR2(500 BYTE)	No	
FAQ_ANSWER	CLOB	No	
FAQ_ORDER	NUMBER(5,0)	No	0 
CREATED_AT	DATE	No	SYSDATE 
UPDATED_AT	DATE	No	SYSDATE 
CREATED_BY	VARCHAR2(50 BYTE)	No	
UPDATED_BY	VARCHAR2(50 BYTE)	Yes	
	
	 INSERT INTO TB_FAQ(
	 	FAQ_NO,
	 	FAQ_QUESTION,
	 	FAQ_ANSWER,
	 	FAQ_ORDER,
	 	CREATED_AT,
	 	UPDATED_AT,
	 	CREATED_BY,
	 	UPDATED_BY
	 )
	 VALUES(
	 	
	 )
	
	</insert>
	
	
	
</mapper>