<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bnk.dao.member.IBankMemberDao">
	<select id="showMember" resultType="com.example.bnk.dto.member.BankMemberDto">
		SELECT * FROM TB_BANK_MEMBER
		WHERE birth_date = #{birth_date}
		AND phone_number = #{phone_number}
		AND member_name = #{member_name}
	</select>
</mapper>