<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	인쿼리 디테일스
	http://localhost:8080/inquiry/inquiryList
	<!-- 헤더 영역 -->
	<div>
	    <button onclick="history.back()">←</button>
	    <div id="inquiryHeader"></div>
	</div>
	
	<!-- 메시지 목록 -->
	<div id="msgList"></div>
	
	
	<!-- 답변 만족 여부 선택 (기본 숨김) -->
	<div id="satisfactionBox" style="display:none">
	    <p>답변이 도움이 되셨나요?</p>
	    <button onclick="handleSatisfied()">✔ 해결됐어요</button>
	    <button onclick="handleMoreInquiry()">✉ 추가 문의할게요</button>
	</div>
	<!-- 하단 입력창 -->
	<div  id="inputBox" style="display:none">
	    <input type="text" id="msgInput" placeholder="추가 문의 내용 입력...">
	    <button onclick="sendMsg()">전송</button>
	</div>
	
	
	
	<script th:src:="@{/js/inquiry/inquiryDetail.js}"></script>

	
</body>
</html>