<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	http://localhost:8080/inquiry/inquiryAnswerList
    <!-- 헤더 영역 -->
    <div>
        <span>문의 사항 답변 : 문의 목록</span>
    </div>
    
    
    <div id="statusTag">
    <span>상태</span>
	    <button class="tag-btn active" onclick="setFilter('status', null, this)">전체</button>
	    <button class="tag-btn" onclick="setFilter('status', '접수완료', this)">접수완료</button>
	    <button class="tag-btn" onclick="setFilter('status', '처리중', this)">처리중</button>
	    <button class="tag-btn" onclick="setFilter('status', '답변완료', this)">답변완료</button>
	</div>
	<div id="categoryTag">
	    <span>카테고리</span>
	    <button class="tag-btn active" onclick="setFilter('category', null, this)">전체</button>
	    <button class="tag-btn" onclick="setFilter('category', '적금상품', this)">적금상품</button>
		<button class="tag-btn" onclick="setFilter('category', '가입관련', this)">가입관련</button>
		<button class="tag-btn" onclick="setFilter('category', '이자/수익률', this)">이자/수익률</button>
		<button class="tag-btn" onclick="setFilter('category', '계좌관련', this)">계좌관련</button>
		<button class="tag-btn" onclick="setFilter('category', '기타', this)">기타</button>
	</div>
    
    

    <!-- 목록 영역 -->
    <div id="inquiryList"></div>
    
	
	<script th:src="@{/js/inquiry/inquiryAnswerList.js}"></script>
	
	
</body>
</html>