<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	최초로 문의 사항을 작성하는 페이지
	
	문의사항 DB설계 
	
	문의사항을 조합해서 가장 많은 문의가 올라온것 가려내는 ai, -> 프롬프트 활용
	
    
	<form id="inquiryForm" >
		// 토큰 인증용 히든
		<div class="category-group">
		    <label class="category-btn">
		        <input type="radio" value="적금 상품" name="INQUIRY_CATEGORY">
		        <span>적금 상품</span>
		    </label>
		
		    <label class="category-btn">
		        <input type="radio" value="가입 관련" name="INQUIRY_CATEGORY">
		        <span>가입 관련</span>
		    </label>
		
		    <label class="category-btn">
		        <input type="radio" value="이자/수익률" name="INQUIRY_CATEGORY">
		        <span>이자/수익률</span>
		    </label>
		
		    <label class="category-btn">
		        <input type="radio" value="계좌 관련" name="INQUIRY_CATEGORY">
		        <span>계좌 관련</span>
		    </label>
		
		    <label class="category-btn">
		        <input type="radio" value="기타" name="INQUIRY_CATEGORY">
		        <span>기타</span>
		    </label>
		</div>
	
		<input type="text" name="INQUIRY_TITLE" placeholder="INQUIRY_TITLE" > -- 제목
		<input type="text" name="MSG_CONTENT" placeholder="MSG_CONTENT" >     -- 본문
		
		<input type="submit" value="문의 접수">
	</form>
	
	
	<script th:src:="@{/js/inquiry/inquiryForm.js}"></script>
	
	
	
	
</body>
</html>