<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>미승인 상품 리스트</title>
<link rel="stylesheet" th:href="@{/css/employee/staff_SideBar.css}" />
<link rel="stylesheet" th:href="@{/css/employee/staff/ProductList.css}">
</head>
<body>

    <div th:replace="~{fragments/staffFragment :: staffSideBar}"></div>

    <div class="main">
        <div th:replace="~{fragments/staffFragment :: goHomePage}"></div>

        <div class="breadcrumb">
            직원 페이지 › <span class="current">상품 작성</span>
        </div>	

        <div class="page-title">상품 전체 리스트</div>

        <div class="card">
            <div class="card-title-group">
                <div class="card-title">상품 리스트 내역</div>
                <span class="mode-badge badge-rate" id="totalCount">전체 0건</span>
            </div>
            
            <div class="table-wrap">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 90px;">상품번호</th>
                            <th>상품명</th>
                            <th style="width: 100px;">유형</th>
                            <th style="width: 140px;">최초등록일</th>
                            <th style="width: 90px;">금리</th>
                            <th style="width: 90px;">약관</th>
                            <th style="width: 90px;">설명</th>
                            <th style="width: 100px;">가입조건</th>
                            <th style="width: 90px;">관제제어</th>
                        </tr>
                    </thead>
                    <tbody id="listBody">
                        <tr class="empty-row">
                            <td colspan="9">데이터를 안전하게 불러오는 중입니다...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/employees/staff/productList.js}"></script>
</body>
</html>