<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h1>상품 제안서 작성 페이지</h1>
	
	<form id="suggestionForm">
	
		<input type="text" name="employee_no" placeholder="직원 pk를 어디선가 가져오기">
		<input type="text" name="manager_employee_no" placeholder="어디선가 상사 pk가져오기">
		<input type="text" name="product_name" placeholder="제안 상품명">
		<input type="text" name="suggestion_content" placeholder="제안 내용">
		<input type="text" name="proposed_min_interest_rate" placeholder="제안 최저 금리">
		<input type="text" name="proposed_max_interest_rate" placeholder="제안 최고 금리">
		<input type="text" name="suggested_at" placeholder="작성 일">
	</form>
	
	<script>
		const suggestionForm = document.querySelector("#suggestionForm");
		// 로그인한 직원의 pk, 현재 특정 직급 이상인 사람들
		fetch("ㅁapi 여청 두소",{
			method: "POST",
			body: 
		})
		.then()
		.then()
		.catch(e=> console.log(e));
		
		
		
	
	</script>
	
</body>
</html>