<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNK 계좌 목록 조회</title>
    <link rel="stylesheet" href="/css/member/myaccounts.css">
    <link rel="stylesheet" href="/css/member/member-nav.css">
    
    <th:block th:replace="~{fragments/header :: headerCss}"></th:block>
    <th:block th:replace="~{fragments/footer :: footerCss}"></th:block>
    
    <script src="/js/members/common.js" defer ></script>
    <script src="/js/members/myaccounts.js" defer></script>
</head>
<body>
<div th:replace="~{fragments/header :: header_default}"></div>
    <header class="top-header">
	    <div class="header-inner">
	        <div class="header-left">
	            <div class="header-title-group">
	                <h2>마이페이지</h2>
	                <p>회원 정보 · 계좌 · 상품 가입 내역</p>
	            </div>
	        </div>
	        <div th:replace="~{fragments/nav :: member_top_mypage}"></div>
	    </div>
	</header>
    
	<div th:replace="~{fragments/nav :: member_mypage('myaccounts')}"></div>

    <main class="accounts-container">

        <section class="page-header">
            <h3>계좌 목록 조회</h3>
            <p>로그인한 회원이 보유한 계좌 목록을 카드 형태로 표시합니다.</p>
        </section>

        <section class="account-grid" id="accountGrid">
            <div class="empty-state">불러오는 중...</div>
        </section>

    </main>

    
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>